# IntelliJ IDEA
.idea/
*.iml

# Build output directories (Java)
out/
target/
build/

# Python virtual environments
venv/
.env
.venv
env/
ENV/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Dokumentacja generowana (np. Sphinx, MkDocs)
docs/_build/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
